
.logo,
.logo-mobile {
    display: block;
    line-height: 0;
    padding: 12px 0;
}

.logo img {
    width: 140px;
    height: 40px;
    display: block;
}

.logo-mobile img {
    width: 112px;
    height: 32px;
    display: block;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    gap: 24px;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 4px 12px;
    &:hover {
        color: $neutral-0;
        background-color: $primary-900;
    }
}

.nav-toggle {
    background: transparent; /* 移除按鈕預設背景 */
    border: 0;
    padding: 12px;
    color: inherit; /* 繼承父層文字顏色 */
    font: 100% inherit; /* 繼承父層字型設定 */
    cursor: pointer; /* 滑鼠移入時顯示手型游標 */
}

@media (max-width: 767.98px) {
    .header-inner {
        position: relative;
        min-height: 60px;
    }

    .logo-mobile {
        padding: 8px 0;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        transform: none;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
        padding: 12px 0;
        background-color: $primary-50;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: max-height 0.3s ease-in, opacity 0.2s ease-in;
    }

    .nav-list.active {
        max-height: 176px;
        opacity: 1;
        pointer-events: auto;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        width: 100%;
        padding: 4px 12px;
        text-align: center;
    }
}