/* HERO SECTION */
.hero {
    position: relative;
    height: calc(
        100vh - 64px
    );
    overflow: hidden;
    .hero-link {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 1.5rem;
        margin-top: 3.75rem;
        .heroBtn {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            border: 1px solid $neutral-700;
            border-radius: 999px;
            background-color: $neutral-0;
            color: $neutral-700;
            text-decoration: none;
            &.active,
            &:hover {
                background-color: $neutral-700;
                color: $neutral-0;
            }
        }
    }
    .hero-img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: 70% center;
    }
}

.decorate-1 {
    position: absolute;
    top: 97px;
    left: -81px;
    width: 200px;
    height: 198px;
}

.decorate-2 {
    position: absolute;
    bottom: 87px;
    right: -80px;
    width: 160px;
    height: 137px;
}

.decorate-3 {
    position: absolute;

    &.flower-left-bottom {
        left: 391px;
        bottom: 192px;
        width: 80px;
        height: auto;
    }

    &.flower-left-top {
        // 當hero 為 relative
        // top: 56px;
        // left: 86px;
        // 當 col-md-5 為 relative
        top: 56px;
        left: -225px;
    }

    &.flower-right-center {
        top: 206px;
        right: -179px;
    }
}

.decorate-4 {
    position: absolute;
    // 當hero 為 relative
    // top: 120px;
    // left:225px;
    // 當 col-md-5 為 relative
    top: 120px;
    left: -87px;
}

.decorate-5 {
    position: absolute;
    left: 211px;
    bottom: 83px;
    width: 180px;
    height: 120px;
}

.decorate-6 {
    display: none;
}

@media (max-width: 767.98px) {
    .hero {
        height: auto;
        overflow-x: clip;
        overflow-y: visible;
        position: relative;
        .container,
        .row,
        .col-12 {
            height: auto !important;
        }
        .hero-img {
            height: auto;
            aspect-ratio: 351 / 376.41;
        }

        .decorate-1 {
            top: 26px;
            left: -15px;
            width: 80px;
            height: 79px;
        }

        .decorate-2 {
            top: 274px;
            right: -25px;
            width: 80px;
            height: 69px;
        }

        .decorate-3 {
            &.flower-left-top {
                display: none;
            }

            &.flower-left-bottom {
                top: 14px;
                bottom: auto;
                left: auto;
                right: 22px;
                width: 80px;
                height: 80px;
            }

            &.flower-right-center {
                display: none;
            }
        }

        .decorate-4 {
            display: none;
        }

        .decorate-5 {
            display: none;
        }

        .decorate-6 {
            display: block;
            position: absolute;
            top: 0;
            right: 102.5px;
        }
    }
}

/* SERVICES SECTION */
.services {
    color: $neutral-0;
    padding: 5rem 2.5rem;
    background-color: $neutral-900;
    &-list {
        display: flex;
        justify-content: flex-start;
        gap: 2.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        .services-card {
            width: 25%;
            height: auto;
            background-color: $neutral-0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .75rem;
            padding: 2.5rem;
            .services-card-icon {
                width: 28px;
                height: 28px;
                color: $neutral-700;
            }
            .services-card-title {
                color: $neutral-700;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }
}
